[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gcm = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"
